<nav class="navbar sticky-top navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid d-flex justify-content-around px-4 my-2">

      <a class="navbar-brand" href=""><img src="assets/img/logo.png" alt="logo" height="40" class="d-inline-block align-text-center"></a>   
      <div>BILETOMANIAK</div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex justify-content-end pe-3" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">

            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/book-form-component" routerLinkActive="active" ariaCurrentWhenActive="page">Rezerwuj</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/delete-booking-form-component" routerLinkActive="active" ariaCurrentWhenActive="page">Odwołaj</a>
            </li>

            <li class="nav-item mx-2">
                <a class="nav-link" routerLink="/contact-form-component" routerLinkActive="active" ariaCurrentWhenActive="page">Kontakt</a>
            </li>

        </ul>
      </div>
    </div>
  </nav>