<div class="row d-flex justify-content-center">
    <div class="d-flex col-8 justify-content-center flex-column mt-5">
        <img class="img-fluid d-flex align-self-center" width="100" src="/assets/img/logo1.png">
        <div class="h2 text-center mt-4">BILETOMANIAK</div>
        <hr class="w-75 mt-4 d-flex align-self-center">
        <div class="h5 text-center my-4">Nasz serwis to Twoja przepustka do niekończącej się przygody. Nasza platforma poświęcona jest rezerwacji biletów na najciekawsze wydarzenia kulturalne, koncerty, wystawy, spektakle teatralne i wiele innych. Nasza pasja to połączenie ludzi z fascynującym światem sztuki, kultury i rozrywki.</div>
</div>
</div>

<div class="row mx-5 my-5 px-5 d-flex justify-content-center">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/assets/img/concert.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Koncerty</h5>
              <p class="card-text">Dla miłośników muzyki mamy szeroką gamę koncertów różnych gatunków muzycznych. U nas znajdziesz bilet na koncert swojego ulubionego artysty.</p>
            </div>
          </div>
    </div>

    <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/assets/img/theater.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Teatr</h5>
              <p class="card-text">Czujesz magię sceny? Oferujemy rezerwację biletów na spektakle teatralne, musicalowe i inne wydarzenia sceniczne. Zapewniamy niezapomniane przeżycia teatralne.</p>
            </div>
          </div>
    </div>

    <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/assets/img/art_gallery.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sztuka Wizualna</h5>
              <p class="card-text">Jeśli interesują Cię wystawy i sztuka współczesna, nasza platforma ma coś specjalnego dla Ciebie. Odkryj najnowsze trendy w świecie sztuki wizualnej.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="/assets/img/amusement_park.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wydarzenia Rodzinne</h5>
              <p class="card-text">Nie zapominamy o rodzinach! Na Biletomaniak znajdziesz także wydarzenia przeznaczone dla całej rodziny, w tym festiwale, wystawy interaktywne i spektakle dla dzieci.</p>
            </div>
          </div>
        </div>
    </div>