<form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-2 mt-4 d-flex justify-content-center text-center flex-column">

            <div class="mb-3">
                <label for="inputFirstName" class="form-label">Imię</label>
                <input name="inputFirstName" type="text" class="form-control" id="inputFirstName" aria-describedby="name" [(ngModel)]="first_name" required>
            </div>

            <div class="mb-3">
                <label for="inputEmail" class="form-label">E-mail</label>
                <input name="inputEmail" type="email" class="form-control" id="inputEmail" aria-describedby="email" [(ngModel)]="email" required>
            </div>

        </div>

        <div class="col-2 mt-4 d-flex justify-content-center text-center flex-column">

            <div class="mb-3">
                <label for="inputLastName" class="form-label">Nazwisko</label>
                <input name="inputLastName" type="text" class="form-control" id="inputLastName" aria-describedby="lastName" [(ngModel)]="last_name" required>
            </div>
    
            <div class="mb-3">
                <label for="inputPhoneNumber" class="form-label">Nr telefonu</label>
                <input name="inputPhoneNumber" type="tel" class="form-control" id="inputPhoneNumber" aria-describedby="phoneNumber" [(ngModel)]="phone_number" required>
            </div>

        </div>
    </div>

    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-4 mt-4 d-flex justify-content-center text-center flex-column">

            <select name="inputEventID" class="form-select mb-4" aria-label="Select event" [(ngModel)]="event_id" required>
                <option selected disabled>Wydarzenie</option>
                <option *ngFor="let event of events" value="{{event.id}}">{{event.description}}</option>

            </select>

            <div class="form-check form-switch mb-4">
                <input class="form-check-input" type="checkbox" role="switch" id="inputUserAgreement" aria-describedby="userAgreement" required>
                <label class="form-check-label" for="inputUserAgreement">Wyrażam zgodę na przetwarzanie moich danych osobowych przez serwis biletomaniak.pl</label>
            </div>

            <button type="submit" class="btn btn-primary">Rezerwuj</button>

        </div>
    </div>

  </form>