$bgcolor: #8000ff;
$textcolor: #ffffff;

nav{
    background-color: $bgcolor;
    color: $textcolor!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-purple{
    color: #8000ff;
}

.card-img-top{
    height:200px!important;
    width: 100% !important;
    object-fit: cover!important;
}